.menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 100;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.4s linear;
    opacity: 0;
}

.menu_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu-nav__close-button {
    background-image: url('../../images/closeButton.svg');
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    background-color: white;
    position: absolute;
    right: 22px;
    top: 22px;
}

.menu__content {
    position: relative;
    width: 520px;
    background: white;
}

.menu-nav {
    padding: 159px 90px 90px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-nav__tab {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    color: black;
}

.menu-nav__tab_movies {
    margin: 28px 0px 0px 0px;
}

.menu-nav__tab_saved-movies {
    margin: 22px 0px 0px 0px;
}


.menu-nav__profile-button {
    background-image: url('../../images/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 100px;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    cursor: pointer;
    margin-top: 621px;
}

@media screen and (max-width: 767px) {
    .menu__content {
        width: 100%;
    }

    .menu-nav {
        padding: 144px 10px 46px 10px;
    }
}