.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__button-profile {
    background-image: url('../../images/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 100px;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    margin: 0px 0px 0px 50px;
    cursor: pointer;
}

.navigation__films {
    margin: 0px;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.navigation__films_saved {
    margin: 0px 0px 0px 20px;
}


.navigation__button-menu {
    display: none;
    background-image: url('../../images/menuLogo.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 44px;
    width: 44px;
    background-color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .navigation__button-menu {
        display: block;
    }

    .navigation__button-profile {
        display: none;
    }

    .navigation__films {
        display: none;
    }

    .navigation__save-films {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navigation__button-menu {
        height: 40px;
        width: 43px;
    }
}